.side-bar-wrapper {
  height: 87vh;
  width: 15%;

  background-color: #162d5d;
}

.side-bar-wrapper ul li {
color: white;
  list-style: none;
  margin: 2rem 0 0 0;
  font-weight: bolder;
}


/* search body */
.search-body-wrapper{
  padding: 4rem 0 ;
  margin: 0 auto;
}

.search-element{
  width: 25vw;
  padding: 1rem;
  border: #87888a solid 1px;
  border-radius: 15px;
}

.search-btn{
  margin: 0 2rem;
  width: 6vw;
  padding: 1rem;
  border: #87888a solid 1px;
  border-radius: 15px;
  background-color: #304a83;
  color: whitesmoke;
}